<% content_for(:html_title) { 'ログイン' } %>
<section class="stSection bgc user-p">
  <div class="wrapper">
    <div class="container">
      <div class="main_user">
        <div class="subject">
          <h1 class="user_title">ログイン</h1>
          <div class="row">
            <div class="col-md-6">
              <div class="login_form pr">
                <%= form_for(:session, url: login_path) do |f| %>
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %>
                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control' %>
                  <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                  <% end %>
                  <%= f.submit "Log in", class: "btn btn-bl" %>
                <% end %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="login_form pl">
                <div class="mb">
                  <p>未登録の方はこちらから</p>
                </div>
                <%= link_to '新規登録', signup_path, class: 'btn btn-gl btn-lg' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
