<button type="button" class="shop-review-btn" data-toggle="modal" data-target="#post2">
このお店の口コミを投稿</button>
<div class="modal fade" id="post2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog wid" role="document">
    <div class="modal-content">
      <%= form_with(model: review, local: true) do |f| %>
        <div class="modal-body">
          <ul class="modal-ul">
            <li>
              <%= f.label :content, 'コメント' %>
              <%= f.text_area :content, size: "70x5", class: "resizenone" %>
            </li>
          </ul>
        </div>
        <div class="modal-footer textcenter">
          <button type="button" class="btn circle-btn-o pl-10" data-dismiss="modal">閉じる</button>
          <%= f.submit "投稿", class: "btn circle-btn-o" %>
          <%= f.hidden_field :store_name, :value => name %>
        </div>
      <% end %>  
    </div>
  </div>
</div>