<% if !Bookmark.exists?(user_id:user.id, store_name:name) %>
  <%= link_to bookmark_store_path(name), method: :post, class: 'btn_fav' do %>
    <i class="far fa-star"></i>
    <span>お気に入りに登録</span>
  <% end %>
<% else %>
  <%= link_to bookmark_store_path(name), method: :delete, class: 'btn_fav' do %>
    <i class="fas fa-star"></i>
    <span>お気に入りから解除</span>             
  <% end %>
<% end %>