<% lists.each do |list| %>
<div class="col-md-3 list">
  <div class="box">
    <li class="liii">
      <div class="list-product">
        <p><%= list.product %></p>
      </div>
      <div class="list-amount-price">
        <span class="list-amount"><%= list.amount %><%= list.unit %></span>
        <span class="list-price"><%= list.price %>円</span>
      </div>
      <div class="list-date-user">
        <span><%= list.updated_at.to_s(:datetime_jp) %></span>
        <span>@<%= list.user.name %></span>
      </div>
    </li>
  </div>
</div>
<% end %> 