<select name="sort_order", class="sort_order">
  <option value="location.pathname", name="location.pathname">並び替え</option>
  <option value="price_asc">価格の安い順</option>
  <option value="price_desc">価格の高い順</option>
  <option value="created_at_asc">投稿の古い順</option>
  <option value="created_at_desc">投稿の新しい順</option>
  <option value="product">商品順</option>
</select>