<% content_for(:html_title) { '周辺のスーパー' } %>
<section class="stSection bgc">
  <div class="container">
    <div class="main-cont">
      <ul class="breadcrumbs left">
        <li>
          <p href="#">周辺のスーパー</p>
        </li>
      </ul>
      <div class="one-col">
        <div class="shop_search_result">
          <ul>
            <% @super.map do |s| %>
              <li class="border-bottom">
                <%= link_to s['name'], store_path(s['name']), method: :get %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>