<% content_for(:html_title) { @name } %>
<section class="stSection">
  <div class="container">
    <div class="shop_header_inner">
      <div class="shop_information">
        <div class="inlineblock">
          <h2 class="title"><%= @name %></h2>
          <div class="favorite">
            <% if logged_in? %>
              <%= render 'bookmark_form', user: current_user, name: @name %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="shop_address">
        <% unless @super.nil? %>
          <p>住所：<%= @super['formatted_address'] %></p>
        <% end %>
      </div>
    </div>
    <div class="shop_add_lists">
      <% if logged_in? %>
        <%= render 'add_lists', list: @list, name: @name %>
      <% end %>
    </div>
  </div>
  <div class="main_shop_lists">
    <div class="shop_lists_title ml60">
      <p>買い物リスト</p>
      <div class="select-wrap cp_ipselect cp_sl01">
        <%= render 'sort_order' %>
      </div>
    </div>
    <div class="shop_lists">
      <div class="row">
      <% unless @lists.blank? %>
        <ul>
          <%= render 'list_store', lists: @lists %>
        </ul>
        <%= will_paginate @lists %>
      <% else %>
        <div>
          <p>まだリストはありません</p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="review">
    <div class="review_title">
      <p>口コミ</p>
      <div class="shop_add_review">
        <% if logged_in? %>
          <%= render 'add_review', review: @review, name: @name %>
        <% end %>  
      </div>
    </div>
    <div class="shop_lists2">
      <div class="row">
      <% unless @reviews.blank? %>
        <ul>
          <%= render @reviews %>
        </ul>
        <%= will_paginate @lists %>
      <% else %>
        <div>
          <p>まだ口コミはありません</p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</section>

