<button type="button" class="btn_add_list" data-toggle="modal" data-target="#post">
<i class="fa fa-plus-circle"></i>買い物リストの追加</button>
<div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog wid" role="document">
    <div class="modal-content">
      <%= form_with(model: list, local: true) do |f| %>
        <div class="modal-body pd15170">
          <ul class="modal-ul">
            <li>
              <%= f.label :product, '商品' %>
              <%= f.text_field :product %>
            </li>
            <li>
              <%= f.label :price, '金額' %>
              <%= f.text_field :price %>円              
            </li>
            <li>
              <%= f.label :amount, '数量' %>
              <%= f.text_field :amount %>
              <%= f.select :unit, [["個入り", "個入り"], ["本", "本"], ["パック", "パック"], ["袋", "袋"],["g(当り)", "g(当り)"],["切", "切"]], include_blank: "選択" %>
            </li>
            <li>
                <%= f.select :store_name, user.bookmarks.map { |b| [b.store_name, b.store_name] }, include_blank: "店名" %>
            </li>
          </ul>
        </div>
        <div class="modal-footer textcenter">
          <button type="button" class="btn circle-btn pl-10" data-dismiss="modal">閉じる</button>
          <%= f.submit "保存", class: "btn circle-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>