<div class="user_lists">
  <% unless lists.blank? %>
  <ul>
    <% lists.each do |list| %>
      <li class="user_li">
        <div class="fw300">
          <span>@<%= list.user.name %></span>
          <span class="ml60"><%= list.updated_at.to_s(:datetime_jp) %></span>
        </div>
        <span class="user_list_store_name"><%= list.store_name %></span>
        <div class="right">
          <span class="user_list_product"><%= list.product %></span>
          <span class="user_list_amount"><%= list.amount %><%= list.unit %></span>
          <span class="user_list_price"><%= list.price %>円</span>
          <% if current_user?(list.user) %>
            <%= link_to '削除', "/lists/#{list.id}", method: :delete %>
          <% end %>
        </div>
      </li>
    <% end %> 
  </ul>
  <%= will_paginate lists %>
  <% else %>
    <div><p>まだリストはありません</p></div>
  <% end %>
</div>