<% content_for(:html_title) { 'お気に入りのスーパー' } %>
<section class="stSection bgc">
  <div class="container">
    <div class="main-cont">
      <ul class="breadcrumbs left">
        <li>
          <p>お気に入りのスーパー</p>
        </li>
      </ul>
      <div class="one-col">
        <div class="shop_search_result">
          <ul>
            <% @bookmarks.each do |b| %>
              <li class="border-bottom">
                <%= link_to b.store_name, store_path(b.store_name), method: :get %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="main_user_lists">
      <div class="shop_lists_title">
        <p>買い物リスト</p>
          <div class="search-tag">
            <%= form_tag(bookmarks_user_path(@user),:method => 'get') do %>
              <%= text_field_tag :search, params[:search], :class =>'textbox', :placeholder =>"例(りんご/納豆etc...)" %>
            <% end %>
          </div>
      </div>
      <%= render 'shop_lists', lists: @lists %>
    </div>
  </div>
</section>