<% content_for(:html_title) { 'マイページ' } %>
<section class="stSection bgc user-p">
  <div class="wrapper">
    <div class="container">
      <div class="main_user">
        <div class="subject">
          <h1 class="user_title">
          ユーザー情報を変更する
          </h1>
          <div class="new_form_fields">
            <div class="user_form">
              <%= form_with(model: @user, local: true) do |form| %>
                <% if @user.errors.any? %>
                  <div id="error_explanation">
                    <h3>入力内容を確認して下さい。</h3>
                    <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="field">
                  <%= form.label :"名前" %>
                  <%= form.text_field :name %>
                </div>
                <div class="field">
                  <%= form.label :"メールアドレス" %>
                  <%= form.email_field :email %>
                </div>
                <div class="field">
                  <%= form.label :"パスワード" %>
                  <%= form.password_field :password %>
                </div>
                <div class="field">
                  <%= form.label :"パスワード（確認）" %>
                  <%= form.password_field :password_confirmation %>
                </div>
                <div class="actions">
                  <%= form.submit "作成", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
          <%= link_to 'Back', @user %>
          <%= link_to 'delete', "/users/#{@user.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </div>
      </div>
    </div>
  </div>
</section>

