<% content_for(:html_title) { '新規登録' } %>
<section class="stSection bgc user-p">
  <div class="wrapper">
    <div class="container">
      <div class="main_user">
        <div class="subject">
          <h1 class="user_title">
          ユーザー登録する
          </h1>
          <div class="new_form_fields">
            <div class="user_form">
              <%= render 'form', user: @user %>
            </div>
          </div>
          <%= link_to 'Back', "/" %>
        </div>
      </div>
    </div>
  </div>
</section>
