<% content_for(:html_title) { 'マイページ' } %>
<section class="stSection">
  <div class="container">
    <div class="shop_header_inner">
      <div class="shop_information">
        <div class="inlineblock">
          <h2 class="title"><%= @user.name %></h2>
          <div class="favorite">
            <% if logged_in? %>
              <%= link_to "編集", edit_user_path(@user) %>
            <% end %>
          </div>
        </div>   
      </div>
    </div>
    <div class="shop_add_lists">
      <%= render 'add_lists', user: @user, list: @list %>
    </div>
  </div>
  <div class="main_user_lists">
    <div class="shop_lists_title">
      <p>買い物リスト</p>
        <div class="search-tag">
          <%= form_tag(user_path(@user),:method => 'get') do %>
            <%= text_field_tag :search, params[:search], :class =>'textbox', :placeholder =>"例(りんご/納豆etc...)" %>
          <% end %>
        </div>
    </div>
    <%= render 'shop_lists', lists: @lists %>
  </div>
</section>