@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header */

.header_container {
  height: 80px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), inset 0 -1px 0 0 #e0e0e0, inset 0 4px 0 0 #ffaf00;
  position: relative;
  text-align: center;
}
.header_container .header_inner {
  position: relative;
  margin: 0 auto;
  text-align: left;
  width: 970px;
}
.header_container .bargains_header .service_header_inner {
  width: 500px;
}
.f_left {
  float: left;
}
.header_container .service_logo.bargain_logo {
  margin-top: 14px;
  width: 150px;
  font-size: 200%;
}
.header_container .service_logo {
  margin-top: 14px;
  margin-right: 12px;
  vertical-align: middle;
}
.header_container .my_menu {
  font-size: 93%;
  padding-top: 4px;
}
.header_container .my_menu>ul>li {
  position: relative;
  margin-right: 0;
  text-align: center;
  border-left: 1px solid #e0e0e0;
  float: left;
}
.header_container .my_menu>ul>li>a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #66645a;
  display: block;
  margin: -10px 0;
  padding: 10px 12px;
  width: 113px;
}
.header_container .header_inner a {
  color: #3c1c1c;
}
.header_container .my_menu>ul>li>a .label {
  font-size: 79%;
  margin-top: 3px;
  text-align: center;
  color: gray;
}
.icf_fav{
  padding-top: 10px;
  padding-bottom: 3px;
}
.header_container .my_menu>ul>li:last-child {
  border-right: none;
}
.header_container .my_menu>ul>li.user_icon_wrapper .login_button {
  border-radius: 2px;
  padding: 4px 8px;
  margin: 17px 5px 17px 10px;
  font-size: 12px;
  width: auto;
  background: linear-gradient(to bottom, #fff, #ececec);
  text-align: center;
  vertical-align: middle;
  text-decoration: none !important;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  -webkit-appearance: none;
}
.icf-mypage{
  padding-top: 3px;
}
.icf-search{
  padding: 8px 0 5px 0;
}

/* usernew */

.footer-div{
  border-top: 4px solid orange;
  padding: 25px 0 10px 0;
  text-align: center;
}

/* toppage */
.topHero__wrap{
  background-image: url("/images/野菜.jpg");
  height: 500px;
  background-size: cover;
}
.topHero__title {
  font-family: YakuHanJP,proxima-nova,Noto Sans JP,Meiryo,Yu Gothic UI,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .08em;
  font-size: 40px;
  line-height: 1.5;
  color: white;
  padding-top: 50px;
}
.topHero__flexBox {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
}
.serviceSection {
  background-color: #f5f9fc;
}
.searchSection {
  background-color: white;
  margin-bottom: 70px;
}
.stSection {
  padding-top: 5rem;
  text-align: center;
}
.serviceColum {
  margin-top: 5rem;
}
.serviceCardWrap {
  margin-top: 2.5rem;
}
.service__title {
  margin-top: 1rem;
  font-family: YakuHanJP,proxima-nova,Noto Sans JP,Meiryo,Yu Gothic UI,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .1em;
  font-size: 16px;
  color: #002e4e;
}
.service__description {
  margin-top: 1rem;
  font-family: proxima-nova,-apple-system,BlinkMacSystemFont,Hiragino Sans,Meiryo,Yu Gothic UI,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .05em;
  font-size: 14px;
  line-height: 1.8;
  color: #002e4e;
}
.back-white{
  padding-top: 30px;
  padding-bottom: 30px;
}
.step{
  background-color: white;
  padding: 30px;
}
.btn_color{
  color: #157AF6;
  border-color: #157AF6;
}
.search-nowplace{
  margin-bottom: 40px;
}
.search-text-title{
  border-bottom: 2px solid #157AF6;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 20px;
}
.atag{
  color: black;
  text-decoration: none;
}
.atag:hover{
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 576px){
  .topHero__flexBox {
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.serviceCardWrap {
  margin-right: auto;
  margin-left: auto;
  width: 83.33%;
}

}
@media screen and (min-width: 960px){
  .stSectionTitle {
    font-size: 32px;
}
.serviceCardWrap {
  width: 100%;
  margin-top: 4rem;
}
.cardWrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cardBox {
  -webkit-box-flex: 1;
  flex: 1 1 0px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.service__title {
  font-size: 20px;
}
.service__description {
  font-size: 15px;
}
.search__image {
  margin: 50px auto;
}
}

/* indexpage */

.bgc{
  background-color:  #f5f9fc;
}
.main-cont {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0 160px 60px 160px;
  border-radius: 4px 4px 0 0;
}
.breadcrumbs {
  font-size: 79%;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  height: 21px;
  padding: 0 3px;
  background: #f8f6f0;
  margin-top: -20px;
}
.one-col {
  margin: 60px 20px 40px 20px;
}
.left{
  text-align: left;
}
.border-bottom{
  border-bottom: dotted 2px #cecccd;
  font-size: 20px;
}

/* usernew */
.user-p{
  padding-bottom: 60px;
  padding-top: 20px;
}
.wrapper{
  width: 1170px;
  min-width: 1170px;
  margin: 0px auto;
  background: transparent;
}
.main_user{
  background-color: white;
  padding-bottom: 60px;
  padding-top: 20px;
  margin: auto 160px;
  border-radius: 10px;
  border: 1px solid orange;
}

.user_title{
  margin: 0 0px 30px 0px;
  padding: 0 20px 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  color: #1e1e18;
  font-size: 138.5%;
  text-align: left;
}
.new_form_fields{
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  width: 500px;
  margin-bottom: 20px;
}
.user_form{
  text-align: right;
}
.user_form .field{
  margin-bottom: 10px;
  margin-right: 100px;
}
.user_form .actions{
  text-align: center;
}
.user_form input{
  width: 200px;
}
#error_explanation{
  padding: 10px 10px 20px 10px;
  margin: 0;
  background: #fdf3eb;
  border: 1px solid #e4e0dc;
  color: #342110;
  margin-bottom: 20px;
  text-align: left;
}
.field_with_errors {
  display: contents;
}

/* login */
.pr{
  padding: 20px;
  margin-bottom: -30px;
  border-right: 1px solid #e0e0e0;
}
.pl{
  padding: 20px;
  margin: 0 0 -30px -30px;
  height: 100%;
}
.mb{
  margin-bottom: 50px;
}
.mb p {
  display: inline-block;
  border-bottom: solid 1px gray;
}
.btn-bl{
  border: 1px solid #157AF6;
  color: #157AF6;
}
.btn-gl{
  border: 1px solid #6C757D;
  color: #6C757D;
}

/* modal */
.textcenter{
  text-align: center;
}
.modal-ul{
  text-align: left;
}
.wid{
  width: 600px;
  margin-top: 100px;
}
.circle-btn {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 0px;
  border: 1px solid skyblue;
  border-radius: 50%;
  color: black;
  text-decoration: none;
  text-align: center;
}
.circle-btn-o {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 0px;
  border: 1px solid orange;
  border-radius: 50%;
  color: black;
  text-decoration: none;
  text-align: center;
}
.pl-10{
  padding-left: 10px;
}

/* shopshow */

.ml60{
  margin-left: 60px;
}
.shop_header_inner{
  text-align: left;
  margin: 0px 0px 50px 70px;
}
.title{
  font-style: italic;
  font-weight: 600;
}
.title{
  display: inline-block;
}
.favorite{
  display: inline-block;
  margin-left: 50px;
}
.btn_fav{
  border: 1px solid #0066ff;
  border-radius: 50px;
  padding: 5px 10px;
  color: #0066ff;
}
.btn_add_list{
  border: 2px solid #1ECD97;
  color: #1ECD97;
  border-radius: 50px;
  font-size: 30px;
  &:hover{
    background: #1ECD97;
    color: white;
  }
}
.main_shop_lists{
  margin: 60px 0px;
}
.shop_lists_title{
  text-align: center;
  margin-bottom: 30px;
}
.shop_lists_title p{
  border-bottom:2px solid black;
  font-size: 20px;
  display: inline-block;
}
.review{
  margin-top: 100px;
}
.review_title p{
  border-bottom:2px solid black;
  font-size: 20px;
  padding: 0 200px;
  display: inline-block;
}
.shop_lists{
  background-color: #f5f9fc;
  padding: 50px 100px;
  margin-top: -10px;
}
.shop_lists2{
  background-color: white;
  padding: 50px 100px;
  margin-top: -10px;
}
.list{
  margin-bottom: 40px;
}
.box{
  border: 1px solid white;
  height: 150px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.box2{
  border: 1px solid #f5f9fc;
  height: 150px;
  border-radius: 10px;
  background-color: #f5f9fc;
  padding: 10px;
}
.pd15170{
  padding: 15px 170px;
}
.review-user{
  text-align: left;
  border-bottom: 1px solid;
}
.review-user p{
  margin: 0;
}
.review-user span{
  font-weight: 300;
}
.review-content{
  margin-top: 20px;
  text-align: left;
  word-wrap: break-word;
  overflow: scroll;
  height: 60px;
  font-weight: 600;
}
.review-content::-webkit-scrollbar {
  display:none;
}
.review-delete{
  text-align: right;
}
.review-delete a{
  color: grey;
}
.list-product{
  text-align: left;
  height: 60px;
  font-size: 25px;
  margin-left: 10px;
  word-wrap: break-word;
  overflow: scroll;
}
.list-product::-webkit-scrollbar {
  display:none;
}
.list-store-name{
  text-align: left;
  height: 60px;
  font-size: 20px;
  margin-left: 10px;
  word-wrap: break-word;
  overflow: scroll;
}
.list-store-name::-webkit-scrollbar {
  display:none;
}
.list-amount-price{
  height: 60px;
  padding-right: 10px;
  text-align: right;
  padding-top: 10px;
}
.list-price{
  font-size: 30px;
  font-weight: 900;
}
.list-date-user{
  height: 30px;
  border-top: 1px groove;
  padding: 5px 5px 0 0;
  text-align: right;
}
.shop-review-btn{
  background-color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  color: white;
  padding: 8px 12px;
}
.resizenone{
  resize: none;
}
/* usershow */

.main_user_lists{
  margin: 60px 100px;
}
.user_lists{
  padding: 50px 100px;
  text-align: left;
}
.user_li{
  border-bottom: 1px solid orange;
  margin-bottom: 20px;
}
.user_list_store_name{
  font-size: 30px;
}
.user_list_product{
  font-size: 30px;;
}
.user_list_price{
  font-size: 20px;
}
.right{
  text-align: right;
}
.cp_ipselect {
	overflow: hidden;
  width: 11%;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 10px 30px;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
.textbox {
  font-family: cursive;
  border: 1px solid #acacac;
  color: #fff;
  opacity: .7;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 400px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  font-size: 16px;
  outline: none;
  background-color: #acacac;
}
.textbox:focus {
  width: 500px;
  outline: none;
}
.fw300{
  font-weight: 300;
}