<div class="col-md-6 list">
  <div class="box2">
    <li class="liii">
      <div class="review-user">
        <p><%= review.user.name %></p>
        <span><%= review.updated_at.to_s(:datetime_jp) %></span>
      </div>
      <div class="review-content">
        <span class="list-amount"><%= review.content %></span>
      </div>
      <% if current_user?(review.user) %>
        <div class="review-delete">
          <%= link_to '削除', "/reviews/#{review.id}", method: :delete %>
        </div>
      <% end %>
    </li>
  </div>
</div>