<div class="global_header">
  <div class="header_container">
    <div class="header_inner">
      <div class="bargains_header">
        <div class="f_left service_header_inner">
        <a href="/" class="service_logo f_left bargain_logo">スパメモ</a>
        </div>
        <div class="my_menu f_right">
          <ul>
            <li class="shop_search">
            <a href="/#search-super">
              <div class="icon_font icf-search">
              <i class="fa fa-search fa-3x"></i></div>
              <div class="label">スーパーを探す</div>
            </a>
            </li>
            <% if logged_in? %>
              <li class="togglable_link_wrapper subscribed_shops_menu off">
                <%= link_to bookmarks_user_path(current_user) do %>
                  <div class="icon_font icf_fav">
                  <i class="fa fa-store-alt fa-3x"></i></div>
                  <div class="label">お気に入り</div>
                <% end %>
              </li>
              <li class="mypage">
                <%= link_to current_user do %>
                  <div class="icon_font icf-mypage">
                  <i class="fa fa-home fa-4x"></i></div>
                  <div class="label">マイページ</div>
                <% end %>
              </li>
              <li class="last togglable_link_wrapper user_icon_wrapper off">
                <button class="button small login_button">
                  <%= link_to "ログアウト", logout_path, method: :delete %>
                </button>
              </li>
            <% else %>
              <li class="last togglable_link_wrapper user_icon_wrapper off">
                <button class="button small login_button">
                  <%= link_to "ログイン", login_path %>
                </button>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
